.ProductItem {
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
}

.productName {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}

.buyNowButton {
  background-color: #000;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buyNowButton:hover {
  background-color: #333;
}

.productImage {
  width: 200px;
  height: 200px;
}
